body {
    margin: 0;
    padding: 0%;
}

h1 {
    text-align: center;
    background-image: linear-gradient(to right, blue, rgb(19, 18, 100));
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 50px;
    color: white;
}

hr.solid {
    border-top: 3px solid #000000;
    border-end-end-radius: 12;
  }

  .buttons button {
    background-color: #cbd1d0;
    border: 3px solid rgb(0, 0, 0); 
    margin: 5px; /*Spaces Buttons Apart */
    color: rgb(0, 0, 0); /* Black text */
    padding: 10px 24px;
    cursor: pointer; /* Pointer/hand icon */
    width: 10%; /* Set a width if needed */
    display: block; /* Make the buttons appear below each other */
  }

  .buttons button:hover {
    background-color: rgb(78, 161, 85);
  }